<div class="container pt-5">
  <div class="row">
    <div class="col-6 text-left px-0">
      <h2>Recomendado para ti</h2>
      <hr />
    </div>
  </div>


  <div class="row">
    <div class="col px-0" style="margin-right: 12px;" *ngFor="let recomendacion of recomendaciones.slice(0,1)">
      <app-recomendacion
      [photoURL]="recomendacion.payload.doc.data().photoURL"
      [nombreProducto]="recomendacion.payload.doc.data().nombreProducto"
      [descripcion]="recomendacion.payload.doc.data().descripcion"
      [idProducto]="recomendacion.payload.doc.data().producto.id"
      ></app-recomendacion>
    </div>
    
    <div class="col px-0" style="margin-left: 12px;" *ngFor="let recomendacion of recomendaciones.slice(1)">
      <app-recomendacion
      [photoURL]="recomendacion.payload.doc.data().photoURL"
      [nombreProducto]="recomendacion.payload.doc.data().nombreProducto"
      [descripcion]="recomendacion.payload.doc.data().descripcion"
      [idProducto]="recomendacion.payload.doc.data().producto.id"
      ></app-recomendacion>
    </div>
    
  </div>
</div>