.linea {
    border-top: 1px solid black;
    height: 1px;
    margin: 0;
    margin-top: 65px;
}

.linea-card {
    border-bottom: 1px solid rgb(134, 133, 133);
    height: 1px;
    margin: 0;
    margin-top: 8px;
    width: 50%;
}

.titulo-detalles{
    padding-top: 4px;
    padding-right: 4px;
    color: #ED200F;
    font-size: 20px;
    font-weight: 600;
}

.titulo-confirmacion{
    padding-top: 4px;
    font-size: 20px;
    color: #696969;
}

#card-item{
    background-color: #fff;
    border: 0;
    margin: 0;
}

.titulo-card{
    margin-bottom: 30px;
    font-size: 33px;
    font-weight: 600;
}

.texto-card{
    font-size: 26px;
}

/*para los botones*/
.btn-regresar{
    background-color: #1B7FFC;
    border-color: #1B7FFC;
    border-radius: 0%;
    color: #fff;
    font-size: 20px;
}

.btn-regresar:hover{
    background-color: #fff;
    border-color: #1B7FFC;
    border-radius: 0%;
    color: #1B7FFC;
    font-size: 20px;
}

.btn-confirmar{
    background-color: #ED200F;
    border-color: #ED200F;
    border-radius: 0%;
    color: #fff;
    font-size: 20px;
}

.btn-confirmar:hover{
    background-color: #fff;
    border-color: #ED200F;
    border-radius: 0%;
    color: #ED200F;
    font-size: 20px;
}

/*para el formulario reactivo*/
input.ng-invalid.ng-touched {
    border: solid 1px #ED200F !important;
}

input.ng-valid {
    border: solid 1px #1B7FFC !important;
}

/* para los labels del formulario*/
.titulo-label{
    font-size: 18px;
}

.texto-label{
    font-size: 16px;
}

/*para el formulario*/
.btn-naranja{
    background-color: #ED200F;
    border-color: #ED200F;
    border-radius: 0%;
    color: #fff;
    font-size: 16px;
}

.btn-naranja:hover{
    background-color: #fff;
    border-color: #ED200F;
    border-radius: 0%;
    color: #ED200F;
    font-size: 16px;
}

.btn-azul{
    background-color: #1B7FFC;
    border-color: #1B7FFC;
    border-radius: 0%;
    color: #fff;
    font-size: 16px;
}

.btn-azul:hover{
    background-color: #fff;
    border-color: #1B7FFC;
    border-radius: 0%;
    color: #1B7FFC;
    font-size: 16px;
}

.ventana-modal{
    font-family: 'Taviraj', sans-serif;
}