<div class="container pt-3 px-0">
    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Acerca del producto</h4>
            <p class="texto">Descripción general del producto</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Marca</h4>
            <p class="texto">Marca del producto</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Contenido</h4>
            <p class="texto">Contenido del producto (kg, g, l, ml, etc)</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Categoría</h4>
            <p class="texto">Categoría del producto</p>
        </div>
    </div>
</div>