<div class="container pt-3 px-0">
    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Acerca del producto</h4>
            <p class="texto">{{acercaDe}}</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Marca</h4>
            <p class="texto">{{marca}}</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Contenido</h4>
            <p class="texto">{{contenido}}</p>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <h4 style="font-weight: 600;">Categoría</h4>
            <p class="texto">{{categoria}}</p>
        </div>
    </div>
</div>