<div class="row">
    <div class="col-6 text-center">
      <img
        src="../../../assets/pan-molde-bimbo.jpg"
        alt="Pan-de-molde"
        class="img-fluid image-noticia-card"
        id="img"
        />
    </div>
    <div class="col-6">
      <div id="card-item" class="card">
        <div class="card-body">
          <h1 class="card-title">Pan de molde rebanado Bimbo</h1>
          <hr>
          <p class="card-text">
            Descripción del producto.
          </p>
          <!--Implementar funcionalidad del boton-->
          <div id="btn-detalles" class="btn btn-primary btn-lg col-12">Ver Detalles</div>
      </div>
    </div>
</div>