<div class="text-center pb-4 pt-2">
    <a href="https://www.facebook.com/MiniMarketDnandoParamonga" target="_blank">
      <img
        src="./../../../assets/facebook-circle-logo-36.png"
        alt=""
        class="img-fluid px-3"
      />
    </a>
    <a href="#"
      ><img
        src="./../../../assets/instagram-alt-logo-36.png"
        alt=""
        class="img-fluid px-3"
    /></a>
    <a href="https://www.youtube.com/channel/UCrTlyTwWRDaoTAFiHW6is5w" target="_blank">
      <img
        src="./../../../assets/youtube-logo-36.png"
        alt=""
        class="img-fluid px-3"
      />
    </a>
</div>