<div class="container pt-0 px-0">
    <div class="row">
        <div class="col text-center">
            <img
              src="../../../assets/bg-nosotros.png"
              alt="Pan-de-molde"
              class="img-fluid w-100"
              id="img"
              />
        </div>
    </div>

    <div class="row pt-5">
        <div class="col text-center">
            <h2 style="font-weight: 600; padding-bottom: 35px;">Nosotros</h2>
            
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-6 text-center" style="margin-left: 290px; display: flex;">
                        <p style="font-weight: 400; font-size: 20px; text-align: center; width: 650px;">
                            Somos un negocio
                            con más de 10 años
                            ofreciendo productos
                            de consumo para el hogar,
                            incluyendo alimentos, productos
                            de higiene, bebidas, entre otros.
                            Disponemos del
                            mejor surtido e
                            información de los
                            productos. Ahora contamos
                            con nuestro sitio web, desde
                            el cual podrás realizar tus pedidos,
                            proporcionando ahorro
                            en costos y tiempo
                            para tu satisfacción.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>