<div id="card-item" class="card">
    <div class="row py-3 px-3">
        <div class="col">
            <div class="card-body">
                <h5 class="card-title"><b>Pan integral Bimbo</b></h5>
                <p class="card-text" style="margin-top: 25px;">
                    Descripción del producto
                </p>
                <!--Implementar funcionalidad del boton-->
                <button class="btn btn-naranja" style="margin-top: 65px;">Ver Ahora</button>
            </div>
        </div>
        <div class="col">
            <img src="../../../assets/pan-integral-bimbo.jpg" class="img-fluid" alt="reloj" />
        </div>
    </div>
</div>