<div class="container pt-5 px-0">
    <div class="row">
      <div class="col">
        <img
          src="../../../assets/pan-molde-bimbo.jpg"
          alt="Perfume"
          class="img-fluid fondo-img"
          id="img"
        />
      </div>
  
      <div class="col">
        <div id="card-item" class="card h-100">
          <div class="card-body fondo-card">
            <h1 class="card-title titulo-card">Pan de molde rebanando Bimbo</h1>
            <h4 class="card-subtitle text-muted py-3">
              <del>S/. 14.50</del>
            </h4>
            <h2 class="card-subtitle text">S/. 13.05</h2>
            <!--Implementar funcionalidad del boton-->
            <button
              id="btn-agregar"
              class="btn btn-primary btn-lg py-2"
            >
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
</div>

<!--Implementar modal-->