<div>
    <app-spinner></app-spinner>
    <app-cabecera></app-cabecera>
    
    <router-outlet></router-outlet>
    <!--
        <app-nosotros></app-nosotros>
        <app-flujo-confirmacion></app-flujo-confirmacion>
        <app-flujo-detalle-pedido></app-flujo-detalle-pedido>
        <app-detalle-producto></app-detalle-producto>
        <app-lista-productos></app-lista-productos>
        <app-home-page></app-home-page>
    -->
    <!--
        <router-outlet></router-outlet>
    -->
    <app-footer></app-footer>
</div>