<div class="container pt-5">
    <div class="row">
        <div class="col text-left px-0">
            <h2>Galería</h2>
            <hr>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row pt-3" >
        <div class="col"  id="imagen-galeria">
            <img src="../../../assets/pan-integral-bimbo.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="../../../assets/mantequilla-gloria.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="../../../assets/leche-laive.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="../../../assets/aceite-primor.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="../../../assets/nuggets-sanfernando.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row py-5 text-center">
        <div class="col">
            <h5>Elige tu producto favorito explorando nuestra galería</h5>
            <br>
            <!--Implementar funcionalidad del boton-->
            <button class="btn btn-naranja" (click)="enrutarListaProductos()">Ver galería</button>
        </div>
    </div>
</div>
