<div class="table-responsive">
    <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Precio</th>
            <th scope="col">Descuento</th>
            <th scope="col">Precio final</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="../../../assets/pan-molde-bimbo.jpg" alt="" width="150px" height="150px"></th>
            <td>Pan de molde rebanado</td>
            <td>Bimbo</td>
            <td>S/. 14.50</td>
            <td>10 %</td>
            <td>S/. 13.05</td>
            <td scope="col">
                <!--Implementar funcionalidad del boton, falta: anhadirProcutoCarrito(producto);-->
              <button class="btn btn-blanco-naranja mx-2"
              (click)="open(content)"
              >Pedir</button>
              <!--Implementar funcionalidad del boton-->
              <button class="btn btn-blanco-azul" (click)="enrutarDetalleProducto()">Detalles</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<!--
    PARA IMPLEMENTAR FUNCIONALIDAD DE LA TABLA
    <tr *ngFor="let producto of productos">
        <th scope="row"><img src="{{producto.payload.doc.data().photoURL}}" alt="" width="150px" height="150px"></th>
        <td>{{producto.payload.doc.data().nombre}}</td>
        <td>{{producto.payload.doc.data().marca}}</td>
        <td>{{producto.payload.doc.data().precio | currency:'PLUMA':'S/. ':'1.2-2'}}</td>
        <td>{{producto.payload.doc.data().descuento | percent}}</td>
        <td>{{producto.payload.doc.data().preciofinal | currency:'PLUMA':'S/. ':'1.2-2'}}</td>
        <td scope="col">
            <button class="btn btn-blanco mx-2"
            (click)="anhadirProcutoCarrito(producto); open(content)">Pedir</button>
            <button class="btn btn-blanco" (click)="enrutarDetalleProducto(producto.payload.doc.id)">Detalles</button>
        </td>
    </tr>
-->

<!--Modal para el carrito de pedido-->
<ng-template #content let-modal>
  <div class="modal-header ventana-modal">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4 class="modal-title" id="modal-basic-title">Carrito de pedido</h4>
        </div>
        <div class="col-6 text-end">
          <button type="button" class="close" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body ventana-modal">
    <div class="container">
      <!--primer producto-->
      <!-- Implementar funcionalidad para obtener productos, copiar y pegar en linea 61: 
          <div class="row" *ngFor="let producto of productosModal"> 
      -->
      <div class="row">
        <div class="col-3 text-center">
          <img src="../../../assets/pan-integral-bimbo.jpg" alt="reloj" class="img-fluid">
        </div>
        <div class="col-3">
          <h5 class="">Pan integral Bimbo</h5>
          <p class="text-muted">10% descuento</p>
          <p class="text-muted"><del>S/. 14.80</del></p>
          <h5 class="text">S/. 13.32</h5>
        </div>
        <div class="col-3 text-center">
          <h5 class="">Cantidad</h5>
          <h5 class="text">
              <!-- Implementar funcionalidad
                  <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito(producto.idProducto,'resta')">-</button> 
              -->
            <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito()">-</button> 
            1
            <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito()">+</button>
          </h5>
        </div>
        <div class="col-3 text-center">
          <div class="row">
            <div class="col">
            <h5 class="">Precio</h5>
            <h5 class="text">S/. 13.32</h5>
            </div>
            <div class="col">
              <!--Implementar funcionalidad del boton-->
              <!-- <button (click)="eliminarProductoCarrito(producto.idProducto)" class="btn"> -->
              <button class="btn">
                <img src="../../../assets/trash-2-32.png" alt="">
              </button>
            </div>
          </div>
        </div>
        <hr>
      </div>

      <!--segundo producto-->
      <div class="row">
          <div class="col-3 text-center">
            <img src="../../../assets/pan-hamburguesa-bimbo.jpg" alt="reloj" class="img-fluid">
          </div>
          <div class="col-3">
            <h5 class="">Pan de hamburguesa Bimbo</h5>
            <p class="text-muted">10% descuento</p>
            <p class="text-muted"><del>S/. 11.00</del></p>
            <h5 class="text">S/. 10.00</h5>
          </div>
          <div class="col-3 text-center">
            <h5 class="">Cantidad</h5>
            <h5 class="text">
                <!-- Implementar funcionalidad
                    <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito(producto.idProducto,'resta')">-</button> 
                -->
              <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito()">-</button> 
              1
              <button class="btn btn-sm btn-cantidad" (click)="operacionUnidadProductoCarrito()">+</button>
            </h5>
          </div>
          <div class="col-3 text-center">
            <div class="row">
              <div class="col">
              <h5 class="">Precio</h5>
              <h5 class="text">S/. 10.00</h5>
              </div>
              <div class="col">
                <!--Implementar funcionalidad del boton-->
                <!-- <button (click)="eliminarProductoCarrito(producto.idProducto)" class="btn"> -->
                <button class="btn">
                  <img src="../../../assets/trash-2-32.png" alt="">
                </button>
              </div>
            </div>
          </div>
          <hr>
      </div>

      <!-- subtotal y agregar pedido -->
      <div class="row text-end">
        <div class="col-3 text-center">
          <button class="btn btn-agregar-prod-modal" (click)="seguirComprando()">Seguir Comprando</button>
        </div>
        <div class="col-3">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 text-end">
          <p style="font-size: 22px;">Subtotal</p>
        </div>
        <div class="col-2 text-end">
          <h3>S/. 23.32</h3>
        </div>
      </div>
    </div>
  </div>
  <!--footer del modal: boton para realizar pedido-->
  <div class="modal-footer ventana-modal">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-dark btn-lg py-2 btn-modal" 
          (click)="cerrar()">Realizar pedido</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>