<div id="testimonio-contenedor" class="row">
    <div class="col px-0">
      <div id="card-item" id="testimonio-contenedor" class="card">
        <img
          src="{{photoURL}}"
          alt="reloj"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col px-3">
      <div id="card-item" id="testimonio-contenedor" class="card">
        <div class="card-body">
          <p class="pt-4">{{descripcion}}</p>
          <h5 class="pt-5 mt-5" style="font-weight: 600;">{{nombrePersona}}</h5>
          <p>{{cargo}}</p>
        </div>
      </div>
    </div>
</div>