<div id="testimonio-contenedor" class="row">
    <div class="col px-0">
      <div id="card-item" id="testimonio-contenedor" class="card">
        <img
          src="../../../assets/testimonio1.jpg"
          alt="reloj"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col px-3">
      <div id="card-item" id="testimonio-contenedor" class="card">
        <div class="card-body">
          <p class="pt-4">Descripción del testimonio del cliente acerca del servicio
            del minimarket.
          </p>
          <h5 class="pt-5 mt-5" style="font-weight: 600;">Nombre completo de la persona</h5>
          <p>Cargo laboral</p>
        </div>
      </div>
    </div>
</div>