<div id="marcas-contenedor" class="text-center pt-5 pb-5">
    <div class="row px-0">
        <div class="col px-0">
            <div class="row mb-5 px-0 text-center">
                <div class="col-4 px-0 text-end logo-sanfernando">
                    <img src="./../../../assets/sanfernando-logo.png" alt="unique" class="img-fluid logo-std" />
                </div>
                <div class="col-4 px-0 logo-gloria">
                    <img src="./../../../assets/gloria-logo.png" alt="unique" class="img-fluid logo-std" />
                </div>
                <div class="col-4 px-0 text-start logo-clorox">
                    <img src="./../../../assets/clorox-logo.png" alt="unique" class="img-fluid logo-std" />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6 text-end">
                    <img src="./../../../assets/laive-logo.png" alt="unique" class="img-fluid logo-std" />
                </div>
                <div class="col-6 text-start logo-colgate">
                    <img src="./../../../assets/colgate-logo-cut.png" alt="unique" class="img-fluid logo-colgate" />
                </div>
            </div>
        </div>
    </div>
</div>